.global-header-style {
  width: 100%;
  background-color: red !important;
  color: green !important;
}

.root-app-div {
  min-width: 100% !important;
  background-color: $ckec-orange !important;
}

.button-margin {
  padding: 5px;
}