.global-header-style {
  width: 100%;
  background-color: blue !important;
  color: green !important;
}

.root-app-div {
  min-width: 100% !important;
  background-color: green !important;
}

.button-margin {
  padding: 5px;
}